html,
body,
#security-analysis-root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  position: fixed;
}

#security-analysis-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
